.btn-create-account {
  width: 263px;
  height: 55px;

  background: linear-gradient(91.36deg, #f1717e -3.75%, #f59e86 99.33%);
  border: 4px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  .btn__body-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__icon {
    padding-right: 10px;
  }

  .btn__img {
  }

  .btn__body {
  }

  .btn__text {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
}
