.btn-show-more {
  width: 230px;
  height: 55px;
  background-color: #fff;
  border: 1px solid #f48c7f;
  box-sizing: border-box;
  border-radius: 100px;
  .btn__body-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__icon {
    padding-right: 10px;
  }

  .btn__img {
  }

  .btn__body {
  }

  .btn__text {
    font-family: $OS-7;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;

    /* #333333 */
    color: $c-t-ti;
  }
}
